{% extends 'base.html' %} 

{% block content %} 


  <li class='btn btn-primary'>
    <a class='btn btn-primary' href="{{ url_for('daily') }}">DailyQA</a>
  </li>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha256-/ykJw/wDxMa0AQhHDYfuMEwVb4JHMx9h4jD4XvHqVzU=" crossorigin="anonymous" />
  
  <li class='btn btn-primary'>
    <a class='btn btn-primary' href="{{ url_for('weekly') }}">WeeklyQA</a>
  </li>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha256-/ykJw/wDxMa0AQhHDYfuMEwVb4JHMx9h4jD4XvHqVzU=" crossorigin="anonymous" />

  <li class='btn btn-primary'>
    <a class='btn btn-primary' href="{{ url_for('monthly') }}">MonthlyQA</a>
  </li>

{% endblock %}